<!DOCTYPE html>
<html>
    <head>
        <title>BASE CRM - Help</title>
        <link rel="stylesheet"  href="css/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <div class="header">                       
        </div>
        <div style="margin: 20px"><h1>Справка</h1></div>
        <div style="margin: 20px">
            <p>
                <b>CRM (Customer Relationship Management system</b> - Система управления взаимоотношениями с клиентами) - прикладное программное обеспечение для организаций, предназначенное для автоматизации стратегий взаимодействия с заказчиками (клиентами), в частности для повышения уровня продаж, оптимизации маркетинга и улучшения обслуживания клиентов путём сохранения информации о клиентах и истории взаимоотношений с ними, установления и улучшения бизнес-процессов и последующего анализа результатов. (Wikipedia).
            </p>
            <p>
                Программное обеспечение, реализующее концепцию CRM в контексте бизнес процессов аттестационного центра.
                Является кроссплатформенным приложением, функционирующем в браузере, не требует установке дополнительного программного обеспечения на стороне клиента. Поддерживает одновременную работу пользователей.
            </p> 
            <p>
                Поиск по базе данных осуществляется при помощи строки поиска, расположенной в верхнем левом верхнем углу панели навигации приложения.
                В программе реализован полноформатный поиск, облегчающий взаимодействие пользователя с базой данных.
            </p>   
        </div>
    </body>
</html>