::-webkit-scrollbar {
    display: none;
}

body {
    margin:     0;
    padding:    0;
    border:     0;
    background: #EEEEEE;
}

body:after {
    content: url("/resources/img/splash.png");
    display: none;
}

table#container {
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

div#container {
    position: relative;
    width:100%;
    height: 100%;
    margin:0;
    padding: 0;
    border: 0;
}

div.header {
    width:100%;
    height:40px;
    background: #0D47A1;
}

div.content {
    width: 100%;
    height: calc(100% - 80px);
}


div.footer {
    width: 100%;
    height: 40px;
    overflow: hidden;
    background: #0D47A1;
}

div.dummy {
    background: #BDBDBD;
}

.splashBackground {
    background: #eeeeee;
}

.logo {
    float: left;
}

.login {
    float: right;
    line-height: 40px;
    margin-right: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #ffffff;
}

.aboutBanner {
    /*height: 360px;*/
    height: 50%;
    width: 100%;
    background: url("/resources/html/img/bg_logo.png") no-repeat;
    background-size: cover;
}

.header_login {
    float: right;
    line-height: 40px;
    margin-right: 10px
}

.header_text {
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    /*line-height: 40px;*/
    /*padding: 10px;*/
}


.footer_text {
    font-size: 9pt;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 40px;
    margin-left: 10px;
    padding: 10px;
}

.smallLink {
    text-decoration: none;
}
.smallLink:hover {
    text-decoration: underline;
}

.simpleButton {
    background: #1565c0;
    color: white;
}

.simpleButtonDown {
    background: red;
}

.simpleButtonOver {
    background: #1976d2;
    color: white;
}

.RedButton {
    background: #00b956;
    color: white;
}

.redButton {
    background: #F44336;
    color: white;
}


.toolBar {
    color: white;
    background: #0D47A1;
 }

.toolBtn {
    color: white;
    background: #1976D2;
    padding: 4px;
    margin: 4px;
}

.cardBox {
    background: white;
    display: block;
    border-radius: 2px;
    box-shadow: 0 1px 6px 1px #b6b6b6;
    outline-width: 0;
    margin: auto;
}

.cardBoxTitle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*background-color: #1976D2; !important;*/
    color: #2962FF; !important;
    font-size: 18px; !important;
    padding: 4px;
    font-family: RobotoLight, sans-serif; !important;
}

.cardBoxSectionTitle {
    color: #212121; !important;
    font-size: 14px; !important;
    padding-left: 8px;
    margin-left: 8px;
    font-family: RobotoLight, sans-serif; !important;
}

.cardBoxSeparator {
    height: 1px;
    padding-left: 16px;
    margin-left: 16px;
    padding-right: 16px;
    margin-right: 16px;
    margin-top: 4px;
    background-color: #E0E0E0;
}

.cardBoxHeaderButton {
    display: block;
    margin: auto;
    outline-width: 0;
    cursor: pointer;
}

.cardBoxHeaderButton:hover {
    background-color: #EEEEEE;
    border-radius: 3px;
}

.cardBoxToolButton,
.cardBoxToolButtonSelected,
.cardBoxToolButtonDisabled,
.cardBoxToolButtonSelectedDisabled {
    color: #2962ff;
    background-color: white;
    width: auto;
}

.cardBoxToolButtonOver,
.cardBoxToolButtonSelectedOver,
.cardBoxToolButtonSelected,
.cardBoxToolButtonSelectedOver,
.cardBoxToolButtonSelectedDisabled {
    color: #2962ff;
    background-color: #EEEEEE;
    border-radius: 3px;
}

.cardBoxToolButtonDown,
.cardBoxToolButtonSelectedDown {
    color: #2962ff;
}


.reportToolButton {
    display: table-cell;
    color: #757575;
    height: 66px;
    width: 100px;
    background-color: white;
    cursor: pointer;
    padding: 3px;
    vertical-align: middle;
}

.reportToolButton:hover {
    color:  #757575;
    background-color: #EEEEEE;
    border-radius: 3px;
}

.reportToolButton:active {
    color:  #757575;
    background-color: white;
    border-radius: 3px;
}

.browserArea {
    background-color: #EEEEEE;
    display: block;
    outline-width: 0;
}

.toolBtnDown,
.toolBtnFocusedDown,
.toolBtnSelectedDown,
.toolBtnSelectedFocusedDown,
.toolBtnOpened,
.toolBtnOverOpened,
.toolBtnDownOpened,
.toolBtnFocusedOpened,
.toolBtnFocusedDownOpened,
.toolBtnFocusedOverOpened,
.toolBtnSelectedOpened,
.toolBtnSelectedDownOpened,
.toolBtnSelectedOverOpened {
    color: white;
    background: #1E88E5;
    padding: 4px;
    margin: 4px;
}

.toolBtnOver,
.toolBtnFocusedOver,
.toolBtnSelectedFocused,
.toolBtnSelectedFocusedOver,
.toolBtnOpened,
.toolBtnOverOpened,
.toolBtnDownOpened,
.toolBtnFocusedOpened,
.toolBtnFocusedDownOpened,
.toolBtnFocusedOverOpened,
.toolBtnSelectedOpened,
.toolBtnSelectedDownOpened,
.toolBtnSelectedOverOpened {
    color: white;
    background: #1565C0;
    padding: 4px;
    margin: 4px;
}

.toolBtnOpened,
.toolBtnOverOpened,
.toolBtnDownOpened,
.toolBtnFocusedOpened,
.toolBtnFocusedDownOpened,
.toolBtnFocusedOverOpened,
.toolBtnSelectedOpened,
.toolBtnSelectedDownOpened,
.toolBtnSelectedOverOpened,
.toolBtnFocused,
.toolBtnFocusedOver,
.toolBtnSelectedFocused,
.toolBtnSelectedFocusedOver,
.toolBtnSelectedFocusedDown {
    color: white;
    background: #0D47A1;
    padding: 4px;
    margin: 4px;
}

.searchBtn,
.searchBtnOver,
.searchBtnSelected,
.searchBtnOpened
 {
    background: white;
    padding: 4px;
    margin: 4px;
}

.searchBar {
    padding: 8px 8px 14px 8px;
    background-color: #1565c0;
}

.searchTextBox {
    background-color: white;
    border-radius: 2px;
    width: 100%;
    padding-right: 6px;
    box-shadow: 0 0 13px -3px #000000;
}

.searchTextBox:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.searchInputText {
    border: 0;
    width: 100%;
    margin-right: 6px;
    font-size: 12px;
    font-family: RobotoLight, serif;
}

.searchInputText:focus {
    outline-width: 0;
}

.searchInputText::-ms-clear {
    display: none;
}

.img {
    display: block;
    margin: auto;
    outline-width: 0;
    cursor: pointer;
}

.tabSet {
    background-color: #1565c0;
    font-family: RobotoLight, serif;
}

.listItem {
    text-align: left;
    font-family: RobotoLight, serif;
    width: 100%;
}

.sideBarButton {
    align-items: center;
    text-align: center;
    padding: 6px;
    color: #757575;
    margin-bottom: 8px;
    height: 56px;
    font-size: 10px;
    cursor: pointer;
    font-family: RobotoLight, serif;
}

.sideBarButton:hover {
    background: #E0E0E0;
    cursor: pointer;
}
.sideBarButtonActive {
    background: #E0E0E0;
    border-left: 5px solid #1e97ef;
    cursor: pointer;
}

.mainMenuButton {
    alignment: left;
    width: 24px;
    height: 24px;
    margin-top: 2px;
    padding: 6px;
    /*margin-left: 21px;*/
    margin-left: 4px;
    margin-right: 1px;
    cursor:pointer;
    display: inline-block;
    float: left;
    position: absolute;
}

.mainMenuButton:hover {
   background-color: #1565C0;
}

.cellGreen,
.cellGreenDark
{
    background-color: #CCFF90;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
    color: #1B5E20;
}

.cellGreenOver,
.cellGreenOverDark,
.cellGreenSelected,
.cellGreenSelectedDark,
.cellGreenSelectedOver,
.cellGreenSelectedOverDark,
.cellGreenSelectedDisabled,
.cellGreenSelectedDisabledDark,
.cellGreenDown,
.cellGreenDownDark,
.cellGreenSelectedDown,
.cellGreenSelectedDownDark
{
    background-color:  #90caf9;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
}

.cellRed,
.cellRedDark
{
    background-color: #FFCCBC;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
    color: #FF5722;
}

.cellRedOver,
.cellRedOverDark,
.cellRedSelected,
.cellRedSelectedDark,
.cellRedSelectedOver,
.cellRedSelectedOverDark,
.cellRedSelectedDisabled,
.cellRedSelectedDisabledDark,
.cellRedDown,
.cellRedDownDark,
.cellRedSelectedDown,
.cellRedSelectedDownDark
{
    background-color:  #90caf9;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
}

.cellAmber,
.cellAmberDark
{
    background-color: #FFECB3;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
    color: #FF6F00;
}

.cellAmberOver,
.cellAmberOverDark,
.cellAmberSelected,
.cellAmberSelectedDark,
.cellAmberSelectedOver,
.cellAmberSelectedOverDark,
.cellAmberSelectedDisabled,
.cellAmberSelectedDisabledDark,
.cellAmberDown,
.cellAmberDownDark,
.cellAmberSelectedDown,
.cellAmberSelectedDownDark
{
    background-color:  #B3E5FC;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
}


.cellLightGreen,
.cellLightGreenDark
{
    background-color: #E8F5E9;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
    color: #388E3C;
}

.cellLightGreenOver,
.cellLightGreenOverDark,
.cellLightGreenSelected,
.cellLightGreenSelectedDark,
.cellLightGreenSelectedOver,
.cellLightGreenSelectedOverDark,
.cellLightGreenSelectedDisabled,
.cellLightGreenSelectedDisabledDark,
.cellLightGreenDown,
.cellLightGreenDownDark,
.cellLightGreenSelectedDown,
.cellLightGreenSelectedDownDark
{
    background-color:  #B3E5FC;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
}

.cellLightYellow,
.cellLightYellowDark
{
    background-color: #E0F7FA;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
    color: #388E3C;
}

.cellLightYellowOver,
.cellLightYellowOverDark,
.cellLightYellowSelected,
.cellLightYellowSelectedDark,
.cellLightYellowSelectedOver,
.cellLightYellowSelectedOverDark,
.cellLightYellowSelectedDisabled,
.cellLightYellowSelectedDisabledDark,
.cellLightYellowDown,
.cellLightYellowDownDark,
.cellLightYellowSelectedDown,
.cellLightYellowSelectedDownDark
{
    background-color:  #B3E5FC;
    font-size: 12px;
    font-family: Calibri, serif;
    padding: 0 0 0 3px;
}

.cellContractRow,
.cellContractRowDark
{
    border-bottom:1px solid #E3F2FD;
}

.cellContractRowOver,
.cellContractRowOverDark,
.cellContractRowSelectedDisabled,
.cellContractRowSelectedDisabledDark,
.cellContractRowDown,
.cellContractRowDownDark,
.cellContractRowSelectedDown,
.cellContractRowSelectedDownDark
{
    background-color: #E1F5FE;
    border-bottom:1px solid #E3F2FD;
}

.cellContractRowSelected,
.cellContractRowSelectedDark,
.cellContractRowSelectedOver,
.cellContractRowSelectedOverDark
{
    background-color: #E1F5FE;
    border-left:5px solid #1e88e5;
}

.filterEditor,
.filterEditorDark,
.filterEditorOver,
.filterEditorOverDark,
.filterEditorSelectedDisabled,
.filterEditorSelectedDisabledDark,
.filterEditorDown,
.filterEditorDownDark,
.filterEditorSelectedDown,
.filterEditorSelectedDownDark,
.filterEditorSelected,
.filterEditorSelectedDark,
.filterEditorSelectedOver,
.filterEditorSelectedOverDark
{
    font-size: 9px;
}

.greenAlertBox{
    border-radius:3px;
    color: white;
    background-color: #47cc8a;
    text-align: center;
}

.orangeAlertBox{
     border-radius:3px;
     color: white;
     background-color: #FF8F00;
     text-align: center;
 }

.redAlertBox{
    border-radius:3px;
    color: white;
    background-color: #d93651;
    text-align: center;
}

.blueAlertBox{
    border-radius:3px;
    color: white;
    background-color: #0288D1;
    text-align: center;
}


.grayAlertBox{
    border-radius:3px;
    color: white;
    background-color: #757575;
    text-align: center;
}
